@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700 & display=swap');

@import url(' https://fonts.cdnfonts.com/css/sf-distant-galaxy ');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100%;
}

.inicio {
    margin-top: 70px;
    margin-left: 70px;

    transition: .4s;
}

.inicio:hover {
    transform: translateY(-10px);
    transition: .4s;
}

.inicio a {
    letter-spacing: 2px;
    color: #000;
    font-weight: 600;
    font-family: 'SF Distant Galaxy', sans-serif;

    background-color: white;
    width: 100px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 2rem;
    border: 2px solid #000;
}

.container {
    max-width: 1100px;
    margin: auto;
}

p {
    line-height: 1.4;
    margin-top: 20px;
    font-size: 19px;
    text-indent: 40px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'SF Distant Galaxy', sans-serif;
    letter-spacing: 2px;

    padding-bottom: 20px;
}

section {
    width: 100vw;
}

/*----------HEADER----------*/
header {
    padding: 25px 70px;
    width: 100%;

    background-color: #000000;
    border-bottom: 2px solid white;
}


header a {
    color: #B5B7B7;
    font-size: 19px;
    font-weight: 600;
}

header a:hover {
    color: white;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__lista {
    display: flex;
    gap: 50px;
}

.navbar i {
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    display: none;
}



/*----------TITULO-----------*/

.titulo {
    height: 85vh;
    background-image: url('https://github.com/carla11235813/Trabalho-WFE-Star-Wars/blob/main/img/star-wars-4k.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    width: 100vw;
}


.titulo-texto {
    margin-top: 150px;
}

.titulo-texto img {
    margin-left: 80px;
    width: 550px;
}

.btn {
    margin: 50px 150px;
    font-size: 19px;
}

.btn a {
    font-weight: 600;
    color: white;
    align-items: center;

    padding: 15px 20px;
    border: 2px solid white;
}

.btn a:hover {
    background: white;
    color: black;
}


/*----------SOBRE------------*/
.sw-p {
    color: white;
}
.sobre {
    text-align: justify;
    padding: 5rem 0;
}

.sobre img {
    width: 400px;
    border-radius: 3rem 0 3rem 3rem;
    border: 2px solid yellow;
}

.sobre p {
    max-width: 650px;
}

.sobre-cont {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.fundo1 {
    background: linear-gradient(to bottom right, #4286f4, #373B44);

}

.fundo2 {
    background-image: linear-gradient(to bottom right, #fbd786, #DBD4B4, #7AA1D2);
}

.fundo3 {
    background-image: linear-gradient(to bottom right , #333333, #dd1818);
}

/*----------FILMES-----------*/
.filmes {
    
    background-image: linear-gradient(to bottom right, #1C1C1C, #060D15);  
    padding: 5rem 0;

    border-bottom:2px solid #FCDF2B;
    border-top:2px solid #FCDF2B;
}

.filmes h2 {
    color: white;
}

.filmes p {
    color: white;
    max-width: 600px;
}

.filmes img {
    width: 400px;
    border: 2px solid #7AA1D2;
    border-radius: 1rem;
}

.filme-texto ol {
    font-size: 1.2rem;
    color: white;
    padding-top: 30px;
    list-style-position: inside;
}

.filme-texto ol li {
    line-height: 1.4;
}

.filmes h1{
    color: #FCDF2B;
}

/*------------*/
.filme {
    display: flex;
    padding: 30px;
    margin: 20px 0;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.038);
    border: 2px solid #FCDF2B;

}



/*----------UNIVERSO EXPANDIDO----------*/
.uni_expandido {
    padding: 5rem 0;
}

/*----------------*/
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}

.card {
    width: 350px;
    padding: 10px;
    background-color: #b5b7b762;
    border-radius: 10px;
    transition: .4s;
    border: 2px solid #000;
    box-shadow: 3px 3px 3px #00000034;
}

.card h2 {
    padding-top: 10px;
    text-align: center;
    color: #000000;
}

.card img {
    max-width: 330px;
    border-radius: 10px;
}

.card:hover {
    background-color: #eff0f3ae;
    transform: translateY(-15px);
    transition: .4s;
}

    

/* RODAPÉ */
footer {
    background: #000000;
    padding: 4rem 2rem;
    list-style: none;
}

.footer-cont {
    display: flex;
    justify-content: space-between;
}


footer h3 {
    color: white;
    padding-bottom: 10px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer li {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer i {
    font-size: 25px;
}

.lista-rodape a {
    color: white;
}

.lista-rodape .github a:hover {
    text-decoration: underline;
}


.copyright {
    background: #000000;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    padding: 20px;
}

.lista-rodape li{
    color: white;
}

/*--------LADO LUZ ---------*/

.luz {
    background-image: url('https://static1.cbrimages.com/wordpress/wp-content/uploads/2021/12/tattooine-twin-suns.jpg');
    background-position: center bottom;
}

.quem {
    padding: 5rem 0;
    background-image: linear-gradient(to bottom right, #1C1C1C, #060D15);
    color: white;
    font-weight: 500;

    border-bottom:2px solid #FCDF2B;
    border-top:2px solid #FCDF2B;
}

.quem h1 {
    color: #FCDF2B;
}


.quem img {
    display: block;
    margin: auto;
    width: 700px;
    padding: 30px 0;

}

.jedis {
    padding: 5rem 0;
}


/*--------LADO NEGRO---------*/
.dark {
    background-image: url('https://github.com/carla11235813/Trabalho-WFE-Star-Wars/blob/main/img/Darth-VaderDarth-Vader-HD-Wallpaper.jpg?raw=true');
    background-position: center top;
}

.sith {
    padding: 5rem 0;
}

.sith-p {
    color: white;
}


@media screen and (max-width: 1000px) {
    header {
        padding: 25px;
    }

    .navbar__lista {
        background-color: #000;
        padding: 110px 30px;
        flex-direction: column;
        text-align: center;
        gap: 70px;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 250px;
        transition: 0.5s;
        right: -100%
        /*display: none;*/
    }

    .navbar__lista.active {
        right: 0;
        z-index: 3
    }

    .navbar i {
        display: block;
        z-index: 999;
    }

    .titulo {
        background-position: right;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }

    .titulo-texto img {
        width: 400px;
    }

    .dark {
        background-position: center;
    }

    .sobre-cont {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .sobre-cont img {
        width: 350px;
        border-radius: 2rem 0 2rem 2rem;
    }

    .sobre-cont p {
        padding-inline: 20px;
        text-align: justify;
    }

    .filme {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .quem p {
        padding: 30px;
        text-align: justify;
    }

    .quem img {
        width: 550px;
        padding: 20px;
    }

    .uni_expandido > p, .jedis > p, .sith > p {
        max-width: 600;
        padding: 30px;
        text-align: justify;
    }

    .uni_expandido h1, .jedis h1, .sith h1 {
        padding-inline: 20px;
    }

    .cards {
        justify-content: center;
    }

    .card img {
        width: 100%;
    }

    .card:hover {
        pointer-events: none;
    }


}


@media screen and (max-width: 500px) {
    .titulo {
        align-items: center;
        text-align: center;
        width: 100%;
        padding-bottom: 70px;
    }
    .titulo-texto img {
        margin-left: 0;
        width: 250px;
        padding-bottom: 30px;
    }

    .btn {
        margin: 0;
    }

    .sobre-cont img {
        width: 270px;
    }

    .filmes {
        padding: 20px;
    }

    .filme {
        width: 100%;
    }

    .filme img {
        width: 250px;
    }

    .quem p {
        padding: 20px;
    }

    .quem img {
        width: 300px;
    }


    .footer-cont {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-cont li {
        padding-inline: 20px;
    }


}

@media screen and (max-width:360px) {
    .card {
        width: 90%;
    }
}